VITE_AWS_USER_POOL_ID=us-east-1_Y*****qTI
VITE_AWS_REGION=us-east-1
VITE_AWS_APP_CLIENT_ID=29jbth2g**********685riu8g
VITE_AWS_IDENTITY_POOL_ID=
VITE_AWS_OAUTH_DOMAIN=proto**********f9fca369-dev.auth.us-east-1.amazoncognito.com
VITE_SIGNALR_ENDPOINT=http://localhost:5009/notifications/